<main id="main" class="main">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Invitations</h5>

            <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                <li class="nav-item flex-fill" role="presentation">
                    <button class="nav-link w-100 active" id="create-tab" data-bs-toggle="tab"
                        data-bs-target="#bordered-justified-create" type="button" role="tab" aria-controls="create"
                        aria-selected="true">Create Invitation</button>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                    <button class="nav-link w-100" id="view-tab" data-bs-toggle="tab"
                        data-bs-target="#bordered-justified-view" type="button" role="tab" aria-controls="view"
                        aria-selected="false">View Invitations</button>
                </li>
            </ul>
            <div class="tab-content pt-2" id="borderedTabJustifiedContent">
                <div class="tab-pane fade show active" id="bordered-justified-create" role="tabpanel"
                    aria-labelledby="create-tab">
                    <form class="row g-3 needs-validation" novalidate>
                        <div class="col-12">
                            <label for="username" class="form-label">User name</label>
                            <input type="text" name="username" class="form-control" id="username" #username required />
                            <div class="invalid-feedback">
                                Please, enter a valid User name!
                            </div>
                        </div>

                        <div>
                            <div class="btn-group">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="roleDropDown"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Roles
                                </button>
                                <div class="dropdown-menu" aria-labelledby="roleDropDown">
                                    <button *ngFor="let role of Roles; index as i;" class="dropdown-item"
                                        type="button">{{role[i].permission}}</button>
                                </div>
                            </div>

                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown
                                </button>
                                <ul class="dropdown-menu">
                                    <li><button class="dropdown-item" type="button">Action</button></li>
                                    <li><button class="dropdown-item" type="button">Another action</button></li>
                                    <li><button class="dropdown-item" type="button">Something else here</button></li>
                                </ul>
                            </div>

                            <div class="col-12">
                                <label for="yourPassword" class="form-label">Password</label>
                                <input type="password" name="password" class="form-control" id="yourPassword"
                                    required />
                                <div class="invalid-feedback">
                                    Please enter your password!
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" name="address" class="form-control" id="address" required />
                                <div class="invalid-feedback">
                                    Please, enter a valid address!
                                </div>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-primary w-100" type="submit">
                                    Register
                                </button>
                            </div>
                        </div>
                        <div class="col-12">
                            <p class="small mb-0">
                                Already have an account?
                                <a [routerLink]="'/login'">Log in</a>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="bordered-justified-view" role="tabpanel" aria-labelledby="view-tab">
                    Nesciunt totam et. Consequuntur magnam aliquid eos nulla dolor iure eos quia. Accusantium distinctio
                    omnis et atque fugiat. Itaque doloremque aliquid sint quasi quia distinctio similique. Voluptate
                    nihil
                    recusandae mollitia dolores. Ut laboriosam voluptatum dicta.
                </div>
            </div>
        </div>
    </div>
</main>